
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del>#2 Tüm Sayfalarda paging</del></p>
<p><del>#3 session a göre mesaj</del></p>
<p><del>#4 oturum yönetiminin mimariye taşınması</del></p>
<p>#5 token kullanımı</p>
