
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>
<h4>Başlıklarda arama kutucuğu</h4>
<h4>Yazar Görselleri Düzenlenecek</h4>
<h4>Grafikler</h4>
<h4>Vittrin Teması</h4>
<h4>Gelen Kutusunda Arama</h4>
<h4>Yetkilendirmeler</h4>
<h4>Hata Sayfası Layouttan ayrılacak</h4>
<h4>Sözlük ve Vitrin ayrılacak</h4>
<h4>Proje Dosyaları sunucuya taşınacak</h4>
<h4>Proje canlıya taşınacak</h4>
<h4>alan adı alınacak</h4>
<h4>Herhangi bir tablo raporlanacak</h4>

